<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/login.css" />
  </head>
  <body>
    <div class="box">
      <form method="post" action="/login" enctype="application/x-www-form-urlencoded" class="form">
        <h2><%= message %></h2>
        <div class="inputbox">
          <input type="email" name="email" required="required" />
          <span>Username</span>
          <i></i>
        </div>
        <div class="inputbox">
          <input type="password" name="password" required="required" />
          <span>Password</span>
          <i></i>
        </div>
        <div class="links">
          <a href="#">Forgot Password</a>
          <a href="#">Signup</a>
        </div>
        <input type="submit" value="login" />
      </form>
    </div>
  </body>
</html>
