/* Navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0.75);
}

.navbar-light .navbar-toggler {
  color: whitesmoke;
  border-color: white;
}

.navbar-brand,
.nav-link {
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.navbar-brand {
  text-transform: uppercase;
}

.nav-link {
  margin-right: 30px;
}

/* Main screen */
.home-page {
  background-image: url(../img/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  background-position: center;
  text-align: center;
}

.h1-home {
  color: white;
  padding-top: 200px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.h3-home {
  color: white;
  margin-top: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 2px;
}

.btn-home {
  display: inline-block;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1a1917;
  margin-top: 30px;
  padding: 10px 70px;
  text-align: center;
  text-transform: uppercase;
}

.story-btn {
  margin-top: 200px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

/* Game */
.game-page {
  background-image: url(../img/the-games-bg.jpg);
  background-size: cover;
  height: 460px;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  background-position: center;
  text-align: center;
}

.h3-work {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-top: 60px;
  text-align: center;
}

.h1-work {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

/* Feature */
.feature-page {
  background-image: url(../img/features.jpg);
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
}

.h3-feature {
  margin-top: 130px;
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
}

.h1-feature {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
}

.p1-feature {
  margin-top: 70px;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffb548;
}

.p2-feature {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  letter-spacing: 2px;
}

.feat-item {
  border-left: 1px solid white;
  padding: 70px 50px;
  margin-left: 5px;
  margin-top: -24px;
}

.feat-item1 {
  padding: 30px 50px;
  margin-left: 5px;
  margin-top: -24px;
}

.pitem::before {
  width: 10px;
  height: 10px;
  display: inline-block;
  content: "";
  background-image: url(../img/ellipse.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 50px;
}

.pitem1::before {
  margin-top: -50px;
  width: 10px;
  height: 10px;
  display: inline-block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 50px;
  background-image: url(../img/ellipse-outline.svg);
}

.p3-feature {
  margin-top: -15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
  text-transform: uppercase;
}

.p4-feature {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}

/* Sysreq */
.sys-page {
  background-image: url(../img/requirements.png);
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
}

.h3-req {
  padding-top: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ffffff;
}

.h1-req {
  margin-top: 50px;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.os {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}

.os-1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

/* Top Score */
.ts-page {
  background-image: url(../img/top-score-bg.png);
  height: 980px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
}

.h1-top {
  margin-top: 50px;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.p1-top {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.btn-score {
  display: inline-block;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1a1917;
  margin-top: 30px;
  padding: 10px 70px;
  text-align: center;
  text-transform: uppercase;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  width: 25rem;
}

#card1 {
  margin-top: 50px;
}

#card2 {
  margin-top: 15px;
}

#card3 {
  margin-top: 15px;
}

.profpic {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-left: 5px;
}

.name1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}

.job1 {
  margin-top: -20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.5;
}

.icon-twt1 {
  height: 14px;
  width: 18px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: -110px;
}

.body-item1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.body-item2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: -10px;
}

/* Newsletter */
.news-page {
  background-image: url(../img/newsletter.png);
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  position: relative;
}

.iskull {
  margin: 100px 20px;
  border-radius: 10%;
}

.h3-news {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffffff;
}

.h1-news {
  font-weight: 400;
  font-size: 65px;
  line-height: 75px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.p-news {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.form-email {
  margin-top: 20px;
  width: 366.92px;
  height: 60px;
  background: rgba(255, 255, 255, 8%);
  border-radius: 5px;
}

::placeholder {
  color: #ffb548;
}

.btn-email {
  margin-top: 20px;
  display: inline-block;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1a1917;
  padding: 17px 38px;
  text-align: center;
  text-transform: uppercase;
}

.nv {
  margin-top: 60px;
  border-bottom: 1px solid white;
}

#navitem {
  margin-right: 10px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

#twicon {
  color: #ffffff;
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.ft1 {
  margin-top: 10px;
}

/* Desktop Version */
@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
    color: white;
  }

  .home-page {
    height: 960px;
  }

  .h1-home {
    color: white;
    padding-top: 300px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .h3-home {
    color: white;
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }

  .story-btn {
    margin-top: 300px;
  }

  .game-page {
    height: 960px;
  }

  .h3-work {
    margin-top: 250px;
  }

  .h1-work {
    margin-left: 50px;
  }

  #carouselExampleIndicators {
    width: 800px;
    height: 477px;
    margin-right: 200px;
    margin-top: 250px;
  }

  .carousel-indicators {
    bottom: 70px;
  }

  .carousel-control-next-icon {
    background-image: url(../img/switch-right.svg);
  }

  .carousel-control-next {
    right: -70px;
  }

  .carousel-control-prev-icon {
    background-image: url(../img/switch-left.svg);
  }

  .carousel-control-prev {
    left: -70px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: -90px;
  }

  .feature-page {
    height: 960px;
  }

  .h1-feature {
    font-size: 56px;
    letter-spacing: 10px;
  }

  .p2-feature {
    letter-spacing: 4px;
  }

  .sys-page {
    height: 1060px;
  }

  .h3-req {
    padding-top: 200px;
  }

  .h1-req {
    margin: 100px 200px;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .table {
    margin-left: 200px;
  }

  .ts-page {
    height: 900px;
  }

  .h1-top {
    margin-top: 300px;
    margin-left: 200px;
  }

  .p1-top {
    margin-top: 100px;
    margin-left: 200px;
  }

  .btn-score {
    margin-left: 200px;
  }

  .h3-news {
    margin-top: 300px;
    padding-right: 100px;
  }

  #card1 {
    margin-top: 100px;
    margin-left: -250px;
  }

  #card2 {
    margin-top: 30px;
    margin-left: -350px;
  }

  #card3 {
    margin-top: 30px;
    margin-left: -250px;
  }

  .iskull {
    margin: 200px 100px;
    border-radius: 10%;
  }

  .btn-email {
    margin-top: 23px;
    margin-left: 166px;
  }

  .ft1 {
    margin-top: 10px;
  }
}
